{% extends 'base.html' %}

{% block content %}

<div style="display: flex;">

    

    <div style="width: 50%; padding-left: 10px;">
        <h1>Mega.nz Video Transcription</h1>
        <form method="post" enctype="multipart/form-data" action="transcribemeganz">
            {% csrf_token %}
            <label for="youtube_url">Mega.nz URL:</label><br>
            <input type="text" id="mega_url" name="mega_url" required><br>
            <input type="submit" value="Submit">
        </form>
    </div>

</div>

{% endblock %}